---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

posts.sort((a, b) => Number(b.data.pubDate) - Number(a.data.pubDate));

---

<BaseLayout pageTitle={tag}>
  <p>Articles avec le tag <i>#{tag}</i> :</p>
  <div>
    { posts.map((post) => <BlogPost pubDate={post.data.pubDate} url={`/posts/${post.slug}/`} title={post.data.title} />) }
  </div>
</BaseLayout>