---
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import BlogPost from "../components/BlogPost.astro";
import '../styles/global.css';
import { db, Like } from "astro:db";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

allPosts.sort((a, b) => Number(b.data.pubDate) - Number(a.data.pubDate));

const likes = await db.select().from(Like);

---

<html lang="en">
  <Head pageTitle="Dragon Odile", pageDescription="Blog de Serupan"/>
  <body>
    <Header />
    {likes.map((l) => <p>{l.likes}</p>)}
    <style>
      ul {
        list-style-type: none;
        padding: 0;
      }
      ul li {
        margin-bottom: 10px;
      }
    </style>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost
            pubDate={post.data.pubDate}
            url={`/posts/${post.slug}/`}
            title={post.data.title}
          />
        ))
      }
    </ul>
    <div class="tags">
      {tags.map((tag) => <a href={`/tags/${tag}`}>#{tag} </a>)}
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
