---
const { pubDate, title, url } = Astro.props;

const mois: string[] = ["Jan", "Fév", "Mar", "Avr", "Mai", "Jun", "Jul", "Aoû", "Sep", "Oct", "Nov", "Déc"];
const jour: number = pubDate.getDate();
const moisIndex: number = pubDate.getMonth();
const annee: number = pubDate.getFullYear();

const dateFormatee: string = `${jour} ${mois[moisIndex]} ${annee}`;


---

<style>
    li {
        display: flex;
    }
    time {
        color: rgb(59, 59, 59);
        flex: 0 0 130px;
        /* font-weight: lighter; */
        font-family: monospace;
        font-style: normal;
        font-size: 16px;
    }
</style>

<li>
    <!-- <span
        >{
            pubDate.toLocaleDateString("fr-FR", {
                year: "numeric",
                month: "short",
                day: "numeric",
            })
        }</span -->
    <time datetime={dateFormatee}>{dateFormatee}</time>
    <a href={url}>{title}</a>
</li>
