---
const { pageTitle, pageDescription } = Astro.props;
---

<head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>{pageTitle}</title>

    <meta name="title" content={pageTitle}>
    <meta name="description" content={pageDescription}>
    
    <meta property="og:site_name" content="◑.◑ Phare Fantôme">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content=""> -->
    <meta property="og:description" content={pageDescription}>
    <meta property="og:image" content="https://pharefantome.com/tropical-fish.png">
    
    <meta property="twitter:card" content="summary">
    <!-- <meta property="twitter:url" content=""> -->
    <meta property="twitter:title" content={pageTitle}>
    <meta property="twitter:description" content={pageDescription}>
    <meta property="twitter:image" content="https://pharefantome.com/tropical-fish.png">

    <meta name="google-site-verification" content="GhlOcz1RKsP1X8jbna6PRHCkMJP_3YYfm6svQtmkHyw" />
</head>