---
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
// const allPosts = await Astro.glob('../posts/*.md');
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
    <div>
        Publié le <span
            >{
                frontmatter.pubDate.toLocaleDateString("fr-FR", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }</span
        >, par {frontmatter.author}
        </div>
    <div class="tags">
        {frontmatter.tags.map((tag) => (
          <a href={`/tags/${tag}`}>#{tag} </a>
        ))}
      </div>
    <slot />
</BaseLayout>
