---

import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import LikesCounter from "../components/LikeCounter.astro";
import type { CollectionEntry } from "astro:content";

// const allPosts = await Astro.glob('../posts/*.md');
const { frontmatter, likes } = Astro.props;

---

<style>
    span{
        font-family: monospace;
        font-style: normal;
        font-size: 16px;
    }
</style>

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <div>
        <LikesCounter likes={likes}/>
        <br>
        <span
            >{
                frontmatter.pubDate.toLocaleDateString("fr-FR", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }</span
        >
        <!-- , par {frontmatter.author} -->
    </div>
    <slot />
    <p>--</p>
    <div class="tags">
        {frontmatter.tags.map((tag) => (
          <a href={`/tags/${tag}`}>#{tag} </a>
        ))}
    </div>
</BaseLayout>
